// SPDX-License-Identifier: GPL-2.0 OR MIT
/*
 * Copyright (C) 2024 Henry Bell <dmoo_dv@protonmail.com>
 */

/dts-v1/;
#include "jh7110-common.dtsi"
#include <dt-bindings/leds/common.h>

/ {
	model = "Pine64 Star64";
	compatible = "pine64,star64", "starfive,jh7110";
	aliases {
		ethernet1 = &gmac1;
	};

	leds {
		compatible = "gpio-leds";

		led-blue {
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_HEARTBEAT;
			gpios = <&aongpio 3 GPIO_ACTIVE_HIGH>;
			label = "blue-led";
			linux,default-trigger = "heartbeat";
		};
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x08000000>; /* 128 MiB */
			alignment = <0x0 0x1000>;
			alloc-ranges = <0x0 0x70000000 0x0 0x20000000>;
			linux,cma-default;
		};
	};

	sound1: snd-card1 {
		compatible = "simple-audio-card";
		#address-cells = <1>;
		#size-cells = <0>;

		simple-audio-card,name = "Starfive-HDMI-Sound-Card";
		simple-audio-card,dai-link@0 {
			reg = <0>;
			format = "i2s";
			bitclock-master = <&sndi2s0>;
			frame-master = <&sndi2s0>;
			mclk-fs = <256>;
			status = "okay";

			sndi2s0: cpu {
				sound-dai = <&i2stx0>;
			};

			codec {
				sound-dai = <&hdmi>;
			};
		};
	};
};

&dc8200 {
	status = "okay";

	dc_out: port {
		#address-cells = <1>;
		#size-cells = <0>;
		dc_out_dpi0: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&hdmi_input0>;
		};
		dc_out_dpi1: endpoint@1 {
			reg = <1>;
			remote-endpoint = <&hdmi_in_lcdc>;
		};

		dc_out_dpi2: endpoint@2 {
			reg = <2>;
			remote-endpoint = <&mipi_in>;
		};
	};
};

&display {
	ports = <&dc_out_dpi0>;
	status = "okay";
};

&dsi_output {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			mipi_in: endpoint {
				remote-endpoint = <&dc_out_dpi2>;
			};
		};

		port@1 {
			reg = <1>;
			sf_dpi_output: endpoint {
				remote-endpoint = <&dsi_in_port>;
			};
		};
	};
};

&gmac0 {
	starfive,tx-use-rgmii-clk;
	assigned-clocks = <&aoncrg JH7110_AONCLK_GMAC0_TX>;
	assigned-clock-parents = <&aoncrg JH7110_AONCLK_GMAC0_RMII_RTX>;
	status = "okay";
};

&gmac1 {
	phy-handle = <&phy1>;
	phy-mode = "rgmii-id";
	starfive,tx-use-rgmii-clk;
	assigned-clocks = <&syscrg JH7110_SYSCLK_GMAC1_TX>;
	assigned-clock-parents = <&syscrg JH7110_SYSCLK_GMAC1_RMII_RTX>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";

		phy1: ethernet-phy@1 {
			reg = <1>;
		};
	};
};

&i2c0 {
	status = "okay";
};

&i2stx0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mclk_ext_pins>;
	status = "okay";
};

&hdmi {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&hdmi_pins>;
	hpd-gpio = <&sysgpio 15 GPIO_ACTIVE_HIGH>;
	hdmi_0p9-supply = <&hdmi_0p9>;
	hdmi_1p8-supply = <&hdmi_1p8>;

	hdmi_in: port {
		#address-cells = <1>;
		#size-cells = <0>;
		hdmi_in_lcdc: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&dc_out_dpi1>;
		};
	};
};

&mipi_dphy {
	status = "okay";
};

&mipi_dsi {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		port@1{
			reg = <1>;
			dsi_in_port: endpoint {
				remote-endpoint = <&sf_dpi_output>;
			};
		};
	};
};

&mmc0 {
	non-removable;
};

&mmc1 {
	cd-gpios = <&sysgpio 41 GPIO_ACTIVE_LOW>;
	disable-wp;
};

&pcie1 {
	status = "okay";
};

&phy0 {
	rx-internal-delay-ps = <1500>;
	motorcomm,rx-clk-drv-microamp = <2910>;
	motorcomm,rx-data-drv-microamp = <2910>;
	motorcomm,tx-clk-adj-enabled;
	motorcomm,tx-clk-10-inverted;
	motorcomm,tx-clk-100-inverted;
	motorcomm,tx-clk-1000-inverted;
};

&phy1 {
	rx-internal-delay-ps = <0>;
	tx-internal-delay-ps = <300>;
	motorcomm,rx-clk-drv-microamp = <2910>;
	motorcomm,rx-data-drv-microamp = <2910>;
	motorcomm,tx-clk-adj-enabled;
	motorcomm,tx-clk-10-inverted;
	motorcomm,tx-clk-100-inverted;
};

&pwm {
	status = "okay";
};

&pwmdac {
	status = "okay";
};

&rgb_output {
	status = "disabled";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			hdmi_input0:endpoint@0 {
				reg = <0>;
				remote-endpoint = <&dc_out_dpi0>;
			};
		};
	};
};

&spi0 {
	status = "okay";
};

&sysgpio {
	hdmi_pins: hdmi-0 {
		scl-pins {
			pinmux = <GPIOMUX(0, GPOUT_SYS_HDMI_DDC_SCL,
					     GPOEN_SYS_HDMI_DDC_SCL,
					     GPI_SYS_HDMI_DDC_SCL)>;
			bias-pull-up;
			input-enable;
		};

		sda-pins {
			pinmux = <GPIOMUX(1, GPOUT_SYS_HDMI_DDC_SDA,
					     GPOEN_SYS_HDMI_DDC_SDA,
					     GPI_SYS_HDMI_DDC_SDA)>;
			bias-pull-up;
			input-enable;
		};

		cec-pins {
			pinmux = <GPIOMUX(14, GPOUT_SYS_HDMI_CEC_SDA,
					      GPOEN_SYS_HDMI_CEC_SDA,
					      GPI_SYS_HDMI_CEC_SDA)>;
			bias-pull-up;
			input-enable;
		};

		hpd-pins {
			pinmux = <GPIOMUX(15, GPOUT_LOW,
					      GPOEN_DISABLE,
					      GPI_SYS_HDMI_HPD)>;
			bias-disable; /* external pull-up */
			input-enable;
		};
	};

	mclk_ext_pins: mclk-ext-0 {
		mclk-ext-pins {
			pinmux = <GPIOMUX(4, GPOUT_LOW,
					     GPOEN_DISABLE,
					     GPI_SYS_MCLK_EXT)>;
			input-enable;
		};
	};

	usb0_pins: usb0-0 {
		vbus-pins {
			pinmux = <GPIOMUX(25,  GPOUT_SYS_USB_DRIVE_VBUS,
					       GPOEN_ENABLE,
					       GPI_NONE)>;
			bias-disable;
			input-disable;
			input-schmitt-disable;
			slew-rate = <0>;
		};
	};
};

&usb0 {
	dr_mode = "host";
	pinctrl-names = "default";
	pinctrl-0 = <&usb0_pins>;
	status = "okay";
};

&usb_cdns3 {
	phys = <&usbphy0>, <&pciephy0>;
	phy-names = "cdns3,usb2-phy", "cdns3,usb3-phy";
};
