Package: linux-image-star64
Version: VERSION
Architecture: riscv64
Maintainer: MichaIng <micha@dietpi.com>
Date: DATE
Installed-Size: SIZE
Section: kernel
Priority: optional
Homepage: https://github.com/MichaIng/linux
Description: Linux kernel for RISC-V PINE64 Star64
